/* Medium: da 991px in giù */
@media screen and (max-width: 991px) {
  .card {
    width: calc(100% / 4 - (60px / 4));
    flex-shrink: 1;
    flex-grow: 1;
  }

  .nav-bar ul {
    flex-wrap: wrap;
  }
}

/* Small: da 767px in giù */
@media screen and (max-width: 767px) {
  .card {
    width: calc(100% / 2 - (20px / 2));
  }

  .music-setting {
    padding-right: 0px;
  }

  .music-info .icon .fa-regular {
    width: 100%;
  }
}

/* Extra small: da 575px in giù */
@media screen and (max-width: 575px) {
  .music-info .info {
    width: 50px;
  }

  .music-setting {
    gap: 5px;
  }

  .player-time {
    gap: 10px;
  }

  .player-controls {
    gap: 10px;
  }
  /* sidebar */
  .side-bar span,
  .side-bar hr,
  .side-bar .logo,
  .side-bar h4,
  .side-bar h5,
  .side-bar .playlist ul li,
  .side-bar .playlist h4 {
    display: none;
  }

  .logo-small {
    display: block;
  }

  .lower-bar {
    gap: 10px;
  }

  .side-bar {
    flex-basis: 50px;
  }

  li.icon-nav img {
    width: 100%;
  }

  li.icon-nav {
    padding-right: 10px;
    padding-left: 0px;
  }

  .download {
    padding-right: 10px;
  }

  .download img {
    width: 100%;
  }

  .user-area {
    padding-right: 10px;
  }

  .user-area img {
    width: 100%;
  }
}
