/* Medium: da 991px in giù */
@media screen and (max-width: 991px) {
  .card {
    width: calc(100% / 4 - (60px / 4));
    flex-shrink: 1;
    flex-grow: 1;
  }

  .nav-bar ul {
    flex-wrap: wrap;
  }

  .nav-bar ul li {
    padding-bottom: 20px;
  }

  .time-container {
    width: 220px;
  }
}

/* Small: da 767px in giù */
@media screen and (max-width: 767px) {
  .card {
    width: calc(100% / 2 - (20px / 2));
  }

  .nav-bar ul li {
  }

  .time-container {
    width: 100px;
  }

  .music-setting {
    padding-right: 0px;
  }

  .music-setting .time-container {
    width: 70px;
  }

  .music-info .icon .fa-regular {
    width: 100%;
  }
}

/* Extra small: da 575px in giù */
@media screen and (max-width: 575px) {
  .nav-bar ul li {
  }

  .music-info .info {
    width: 50px;
  }

  .music-setting {
    gap: 5px;
  }

  .player-time {
    gap: 10px;
  }

  .player-controls {
    gap: 10px;
  }
}
