/* Medium: da 991px in giù */
@media screen and (max-width: 991px) {
  .card {
    width: calc(100% / 4 - (60px / 4));
  }

  /* .nav-bar ul {
    flex-wrap: wrap;
    padding-left: 20px;
    gap: 0px;
  }

  .nav-bar ul li {
    width: calc(100% / 5);
    padding-bottom: 20px;
  } */
}

/* Small: da 767px in giù */
@media screen and (max-width: 767px) {
  .card {
    width: calc(100% / 2 - (20px / 2));
  }
}

/* Extra small: da 575px in giù */
@media screen and (max-width: 575px) {
}
