/* Medium: da 991px in giù */
@media screen and (max-width: 991px) {
  .card {
    width: calc(100% / 4 - (60px / 4));
    flex-shrink: 1;
    flex-grow: 1;
  }

  .nav-bar ul {
    flex-wrap: wrap;
  }

  .nav-bar ul li {
    padding-bottom: 20px;
    width: calc(100% / 5 - (80px / 5));
  }

  .time-container {
    width: 220px;
  }
}

/* Small: da 767px in giù */
@media screen and (max-width: 767px) {
  .card {
    width: calc(100% / 2 - (20px / 2));
  }

  .nav-bar ul li {
    width: calc(100% / 3 - (40px / 3));
  }

  .time-container {
    width: 100px;
  }

  .music-setting {
    padding-right: 0px;
  }

  .music-setting .time-container {
    width: 70px;
  }

  .music-info .icon .fa-regular {
    width: 100%;
  }
}

/* Extra small: da 575px in giù */
@media screen and (max-width: 575px) {
  .nav-bar ul {
    gap: 10px;
  }
  .nav-bar ul li {
    width: calc(100% / 4 - (30px / 4));
  }

  .music-info .info {
    width: 50px;
  }

  .music-setting {
    gap: 5px;
  }

  .player-time {
    gap: 10px;
  }

  .player-controls {
    gap: 10px;
  }
  /* sidebar */
  .side-bar span,
  .side-bar hr,
  .side-bar .logo,
  .side-bar h4,
  .side-bar h5,
  .side-bar .playlist ul li,
  .side-bar .playlist h4 {
    display: none;
  }

  .side-bar .download {
  }

  .side-bar .user-area img {
  }

  .logo-small {
    display: block;
  }

  .lower-bar {
    gap: 10px;
    padding-left: 5px;
  }

  .side-bar {
    flex-basis: 50px;
  }
}
