/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  /* DEBUG */
  background-color: blueviolet;
}

footer {
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  /* DEBUG */
  background-color: brown;
}

/* App */
.app {
  flex: 1;
  /* DEBUG */
  background-color: white;
}

/* Generals */

/* Side-bar */
.side-bar {
  /* DEBUG */
  background-color: black;
  flex-basis: calc(100% - 87%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
}

.side-bar .logo img {
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.side-bar .icon-nav img {
  width: 15%;
}

.icon-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.icon-nav h5 {
  color: grey;
}

h4 {
  color: white;
  margin-bottom: 1rem;
}

.playlist {
  margin-left: 10px;
  margin-top: 1rem;
}

.playlist ul li {
  color: grey;
  margin-top: 1rem;
}

.playlist ul li:first-child {
  font-size: 1.5rem;
}

/* lower-bar-section */
.lower-bar {
  display: flex;
  flex-direction: column;
}
.download {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.download img {
  width: 15%;
}

.download h5 {
  color: grey;
}

.line {
  border: 1px solid grey;
  width: 90%;
  margin: 10px;
}

.user-area {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.user-area img {
  width: 10%;
}

.user-area h5 {
  color: white;
}
