/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* overflow: auto; */
  flex-grow: 1;
  display: flex;
  /* justify-content: space-between; */
  /* DEBUG */
  background-color: blueviolet;
}

/* App */
.app {
  flex: 1;
  /* DEBUG */
  background-color: white;
}

/* Generals */
ul {
  list-style: none;
}

/* Side-bar */
.side-bar {
  /* DEBUG */
  background-color: black;
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 10px;
}

.side-bar .logo img {
  width: 80%;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}

.side-bar .icon-nav img {
  width: 15%;
}

.icon-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.icon-nav h5 {
  color: grey;
}

h4 {
  color: white;
  margin-bottom: 1rem;
}

.playlist {
  margin-left: 10px;
  margin-top: 1rem;
}

.playlist ul li {
  color: grey;
  margin-top: 1rem;
}

.playlist ul li:first-child {
  font-size: 1.5rem;
}

/* lower-bar-section */
.lower-bar {
  display: flex;
  flex-direction: column;
}
.download {
  display: flex;
  align-items: center;
  gap: 10px;
}

.download img {
  width: 15%;
}

.download h5 {
  color: grey;
}

.line {
  border: 1px solid grey;
  width: 90%;
  margin: 10px 0;
}

.user-area {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.user-area img {
  width: 10%;
}

.user-area h5 {
  color: white;
}

/* footer */
footer {
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  /* DEBUG */
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* music-info */
.music-info {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
}

.music-info img {
  width: 10%;
}

.music-info .info h5 {
  color: white;
}

.music-info .info h6 {
  color: grey;
}

/* icone */
.fa-heart {
  margin-left: 20px;
}

.fa-regular {
  font-size: 18px;
  color: grey;
}

.fa-solid {
  color: white;
  font-size: 15px;
}

.fa-circle-play {
  color: white;
  font-size: 30px;
}

/* MUSIC-PLAYER */
.music-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

/* music-setting */
.music-setting {
  padding-right: 20px;
}
