/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  /* DEBUG */
  background-color: blueviolet;
}

footer {
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  /* DEBUG */
  background-color: brown;
}

/* App */
.app {
  flex: 1;
  /* DEBUG */
  background-color: white;
}

/* Generals */

/* Side-bar */
.side-bar {
  /* DEBUG */
  background-color: black;
  flex-basis: calc(100% - 87%);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.side-bar .logo img {
  width: 70%;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.side-bar .icon-nav img {
  width: 15%;
}

.icon-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.icon-nav h5 {
  color: white;
}
