/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  height: calc(100% - 80px);
  /* DEBUG */
  background-color: blueviolet;
}

/* App */
.app {
  flex: 1;
  overflow-y: scroll;
  background-color: rgb(20, 25, 34);
}

.app-header {
  background-color: rgba(8, 11, 18, 0.5);
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
  padding-right: 20px;
}

.app-header button {
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid white;
  color: white;
  border-radius: 50px;
  background-color: rgba(8, 11, 18, 0.5);
}

/* Generals */
ul {
  list-style: none;
}

/* Side-bar */
.side-bar {
  /* DEBUG */
  background-color: black;
  flex-basis: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 10px;
}

.side-bar .logo img {
  width: 80%;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}

.side-bar .icon-nav img {
  width: 15%;
}

.icon-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.icon-nav h5 {
  color: grey;
  cursor: pointer;
}

.icon-nav h5:hover {
  color: #fff;
}

h4 {
  color: white;
  margin-bottom: 1rem;
}

.playlist {
  margin-left: 10px;
  margin-top: 1rem;
}

.playlist ul li {
  color: grey;
  margin-top: 1rem;
  cursor: pointer;
}

.playlist ul li:hover {
  color: #fff;
}

.playlist ul li:first-child {
  font-size: 1.5rem;
}

/* lower-bar-section */
.lower-bar {
  display: flex;
  flex-direction: column;
}
.download {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.download img {
  width: 15%;
}

.download h5 {
  color: grey;
}

.download h5:hover {
  color: #fff;
}

.line {
  border: 1px solid grey;
  width: 90%;
  margin: 10px 0;
}

.user-area {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.user-area img {
  width: 10%;
}

.user-area h5 {
  color: white;
}

/* footer */
footer {
  height: 80px;
  flex-grow: 0;
  flex-shrink: 0;
  /* DEBUG */
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* music-info */
.music-info {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
}

.music-info img {
  width: 10%;
}

.info h5 {
  color: white;
}

.info h6 {
  color: grey;
  cursor: pointer;
}

.music-info .info h6:hover {
  color: white;
}

/* icone */
.fa-heart {
  margin-left: 20px;
}

.fa-regular {
  font-size: 18px;
  color: grey;
  cursor: pointer;
}

.fa-regular:hover {
  color: white;
}

.fa-solid {
  color: white;
  font-size: 15px;
}

.fa-circle-play {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.fa-circle-play:hover {
  font-size: 33px;
}

.music-setting .fa-solid {
  color: white;
  font-size: 12px;
}

/* MUSIC-PLAYER */
.music-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 30px;
}

.player-controls i {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.player-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

.time {
  font-size: 12px;
}

.time-container {
  width: 400px;
  height: 5px;
  background: grey;
  border-radius: 3px;
  cursor: pointer;
}

.time-bar {
  height: 100%;
  width: 20%;
  background: #fff;
  border-radius: 3px;
  position: relative;
}

/* music-setting */
.music-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-right: 20px;
}

.music-setting .time-container {
  width: 100px;
  height: 5px;
}

.music-setting .time-bar {
  width: 50%;
}

.time-container:hover .time-bar {
  background-color: greenyellow;
}

.time-container:hover .time-bar::after {
  content: "";
  position: absolute;
  right: 0;
  top: -3px;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
}

/* NAV-BAR */
.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.nav-bar ul li {
  color: grey;
  cursor: pointer;
}

.nav-bar ul li:hover {
  color: white;
}

/* APP-CONTENT */
.app-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recently-played h2 {
  color: white;
  padding-left: 20px;
}

.img-wrapper img {
  width: 100%;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  width: calc(100% / 6 - (100px / 6));
  position: relative;
  cursor: pointer;
}
